<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="CONNECT_STRING" value="Server=DESKTOP-3OJTTQ9;Database=QLTV;User Id=sa;Password=root@1234;" />
    </appSettings>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="email" password="password" enableSsl="true" />
      </smtp>
    </mailSettings>
</configuration>