USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 1/5/2022 3:00:17 PM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLTV.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLTV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[CTPhieuMuon]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuMuon](
	[MaPhieuMuon] [int] NOT NULL,
	[MaSach] [nchar](9) NOT NULL,
	[MaThuVien] [nchar](5) NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[SoNgayTreHan] [int] NULL,
	[MaPhieuTra] [int] NULL,
 CONSTRAINT [PK_CTPhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC,
	[MaSach] ASC,
	[MaThuVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [nchar](10) NOT NULL,
	[MatKhau] [nchar](30) NOT NULL,
	[TenDocGia] [nchar](20) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nchar](3) NULL,
	[DanToc] [nchar](10) NULL,
	[QuocTich] [nchar](10) NULL,
	[Email] [nchar](20) NULL,
	[SDTDocGia] [nchar](15) NULL,
	[AnhDaiDien] [image] NULL,
	[CMND] [nchar](20) NULL,
	[NoiCap] [nchar](10) NULL,
	[NgheNghiep] [nchar](10) NULL,
	[TrinhDo] [nchar](10) NULL,
	[TruongHoc] [nchar](30) NULL,
	[LopHoc] [nchar](5) NULL,
	[MaNguoiGiamHo] [nchar](8) NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Muc]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muc](
	[MaMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenMuc] [nchar](30) NULL,
 CONSTRAINT [PK_Muc] PRIMARY KEY CLUSTERED 
(
	[MaMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Username] [nchar](30) NOT NULL,
	[Password] [nchar](30) NULL,
	[AnhNhanVien] [image] NULL,
	[TenNhanVien] [nchar](20) NULL,
	[MailNhanVien] [nchar](20) NULL,
	[DienThoaiLienLac] [nchar](15) NULL,
	[QuocGia] [nchar](10) NULL,
	[ChucVu] [nchar](15) NULL,
	[DiaChiNhanVien] [nchar](50) NULL,
	[MaThuVien] [nchar](5) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[MaDocGia] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuTra]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTra](
	[MaPhieuTra] [int] IDENTITY(1,1) NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[NVTiepNhan] [nchar](30) NOT NULL,
 CONSTRAINT [PK_PhieuTra] PRIMARY KEY CLUSTERED 
(
	[MaPhieuTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [nchar](9) NOT NULL,
	[MaThuVien] [nchar](5) NOT NULL,
	[TenSach] [nchar](30) NULL,
	[TacGia] [nchar](20) NULL,
	[SoLuongTonKho] [int] NULL,
	[MoTa] [nchar](50) NULL,
	[TrangBia] [image] NULL,
	[NgayXuatBan] [date] NULL,
	[ISBN] [nchar](15) NULL,
	[ViTri] [nchar](5) NULL,
	[TheLoai] [nchar](2) NULL,
	[MaMuc] [int] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaThuVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[MaSuKien] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeSuKien] [nchar](30) NULL,
	[NoiDungSuKien] [nchar](100) NULL,
	[ThoiGianToChuc] [datetime] NULL,
	[DiaDiemToChuc] [nchar](30) NULL,
	[NVPhuTrach] [nchar](30) NOT NULL,
 CONSTRAINT [PK_SuKien] PRIMARY KEY CLUSTERED 
(
	[MaSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[TieuDeThongBao] [nchar](30) NULL,
	[NoiDungThongBao] [nchar](100) NULL,
	[ThoiGianThongBao] [datetime] NULL,
	[NVTaoThongBao] [nchar](30) NOT NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThuVien]    Script Date: 1/5/2022 3:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuVien](
	[MaThuVien] [nchar](5) NOT NULL,
	[TenThuVien] [nchar](20) NOT NULL,
	[SDT] [nchar](12) NULL,
	[DiaChiThuVien] [nchar](30) NULL,
 CONSTRAINT [PK_ThuVien] PRIMARY KEY CLUSTERED 
(
	[MaThuVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CTPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CTPhieuMuon] CHECK CONSTRAINT [FK_CTPhieuMuon_PhieuMuon]
GO
ALTER TABLE [dbo].[CTPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_PhieuTra] FOREIGN KEY([MaPhieuTra])
REFERENCES [dbo].[PhieuTra] ([MaPhieuTra])
GO
ALTER TABLE [dbo].[CTPhieuMuon] CHECK CONSTRAINT [FK_CTPhieuMuon_PhieuTra]
GO
ALTER TABLE [dbo].[CTPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_Sach] FOREIGN KEY([MaSach], [MaThuVien])
REFERENCES [dbo].[Sach] ([MaSach], [MaThuVien])
GO
ALTER TABLE [dbo].[CTPhieuMuon] CHECK CONSTRAINT [FK_CTPhieuMuon_Sach]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_DocGia_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_DocGia_DocGia]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ThuVien] FOREIGN KEY([MaThuVien])
REFERENCES [dbo].[ThuVien] ([MaThuVien])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ThuVien]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTra_NhanVien] FOREIGN KEY([NVTiepNhan])
REFERENCES [dbo].[NhanVien] ([Username])
GO
ALTER TABLE [dbo].[PhieuTra] CHECK CONSTRAINT [FK_PhieuTra_NhanVien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_Muc] FOREIGN KEY([MaMuc])
REFERENCES [dbo].[Muc] ([MaMuc])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_Muc]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_ThuVien] FOREIGN KEY([MaThuVien])
REFERENCES [dbo].[ThuVien] ([MaThuVien])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_ThuVien]
GO
ALTER TABLE [dbo].[SuKien]  WITH CHECK ADD  CONSTRAINT [FK_SuKien_NhanVien] FOREIGN KEY([NVPhuTrach])
REFERENCES [dbo].[NhanVien] ([Username])
GO
ALTER TABLE [dbo].[SuKien] CHECK CONSTRAINT [FK_SuKien_NhanVien]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_NhanVien] FOREIGN KEY([NVTaoThongBao])
REFERENCES [dbo].[NhanVien] ([Username])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_NhanVien]
GO
USE [master]
GO
